* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 51%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #ffffff;
  padding: 30px;
  display: flex;
  justify-content: center;
}

#root {
  width: 80%;
  padding: 40px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}

h3 {
  color: #2ecc71;
  text-decoration: underline;
}

.input-group {
  margin-bottom: 25px;
  position: relative;
}

label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  color: #ffffff;
}

input[type="text"],
input[type="number"],
input[list] {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #3498db;
}

button.search-button {
  width: 100%;
  padding: 15px;
  background-color: #3498db;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button.search-button:hover {
  background-color: #2980b9;
}

button.search-button:disabled {
  background-color: #b3c3d3;
  cursor: not-allowed;
}

.result {
  margin-top: 30px;
  background-color: #161b22;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.result h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  color: #2ecc71;
}

.result p {
  font-size: 16px;
  margin: 10px 0;
  color: #ffffff;
}

.result strong {
  color: #3498db;
}

.feedback-message {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  margin-top: 20px;
  font-weight: 600;
}

.error-message {
  margin-top: 5px;
  color: red;
}

.input-error {
  border: 2px solid red !important;
  color: red;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 14px;
  animation: fade-in-out 5s ease-in-out forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}
